body{
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(165, 92, 92);
    color: white;


}
strong{
    color: #490303;
    text-align: center;
}
.apresentacao{
    margin: 10% 15;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}


.apresentacao__conteudo{
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    text-align: center;
}


.apresentacao__conteudo__titulo{
    font-size: 70px;
    text-align: center;
}
.titulo {
    font-size: 200px;
    text-align: center;
    font-family:Georgia;
    color: rgb(102, 21, 21);
   

}

.subtitulo{
    font-size: 50px;
    justify-content: space-between;
    font-family:Georgia;
    
}
.apresentacao__conteudo__texto{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.div id="foto"{
    
    
}



.apresentacao__conteudo__links{
    font-family: 'krona One',sans-serif;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 32px;
}


.apresentacao__links__links{
    /*background-color: #22d4fd;*/
    justify-content: center;
    gap: ;
    border: 2px solid #521b1b;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21,5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;

}